*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial;
    height: 5000px;
}
#main{

}

#header{
    height: 46px;
    background-color: black;
    position: fixed;
    width: 100%;

}
#nav, .subnav{
    list-style-type: none;
}
#nav .header-angle-down{
    font-size: 20px;
}
#nav{
    display: inline-block;
}
#nav a{
    text-decoration: none ;
}

#nav > li > a{
    font-size: 16px;
    padding: 0px 24px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 46px;
}
#nav li:hover { 
    /* opacity: 0.5; */
    background-color: #ccc; 
    color: #000;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
.subnav{
    position: absolute;
    /* color: #000; */
    top: 100%;
    left: 0;
    font-size: 15px;
    min-width: 160px;
    line-height: 1.5;
    background-color: #fff;
    display: none;
    
}
.subnav > li {
    /* line-height: 46px; */
}
.subnav a{
    padding: 0 16px;
    line-height: 38px; 
    color: #000;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}
#header .search-btn{
    float: right;
    padding: 0px 24px;
    cursor: pointer;
    color: #fff;
    top: 0;
    right: 0;
}
#header .search-icon{
    font-size: 20px;
    font-weight: 600;
    line-height: 46px;

}

#header .search-btn:hover{
    background-color: red;   
}
.search-icon{

}
#slider{
    background-color: #333;
    height: 500px
}

#content{

}

#footer{

}
