*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial;
    height: 5000px;
}
#main{

}
.clear{
    clear: both;
}
.text-white{
    color: #fff;
}

/* header start*/
#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

}
#nav, .subnav{
    list-style-type: none;
}
#nav .header-angle-down{
    font-size: 20px;
}
#nav{
    display: inline-block;
}
#nav a{
    text-decoration: none ;
}

#nav > li > a{
    font-size: 16px;
    padding: 0px 24px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 46px;
}
#nav li:hover { 
    /* opacity: 0.5; */
    background-color: #ccc; 
    color: #000;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav li a{
    display: block;
    /* Để cho tất cả thẻ a đều hiện ở dạng block */
}
#nav .subnav{
    position: absolute;
    /* color: #000; */
    top: 100%;
    left: 0;
    font-size: 15px;
    min-width: 160px;
    line-height: 1.5;
    background-color: #fff;
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
}
.subnav > li {
    /* line-height: 46px; */
}
.subnav a{
    padding: 0 16px;
    line-height: 38px; 
    color: #000;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}
#header .search-btn{
    float: right;
    padding: 0px 24px;
    cursor: pointer;
    color: #fff;
    top: 0;
    right: 0;
}
#header .search-icon{
    font-size: 20px;
    font-weight: 600;
    line-height: 46px;
}

#header .search-btn:hover{
    background-color: red;   
}
.search-icon{

}
/* header end*/

/* SLIDER start*/
#slider{
   margin-top: 46px;
   padding-top: 50%;
   background: url('/assets/img/slider/slider1.jpg') top center /cover no-repeat;
   position: relative;

   /* Note: Phải có padding-top trước thì phần slider mới có kích thước => mới hiện ảnh */
}
#slider .text-content{
    position: absolute;
    bottom: 48px;
    text-align: center;
    width: 100%
}
#slider .text-header{
    font-weight: 600;
}
#slider .text-sub-header{
    margin-top: 25px;
    font-weight: 500;
}
/* SLIDER end*/

#content{

}

#footer{

}


/* Note: 
Với các thẻ có chữ, icon muốn căn giữa thì cần css thẳng và các thẻ này với thuộc
tính line-height: xpx */