.header{
    color: black;
    display: flex;
    align-items:center;
    justify-content: space-between;
    /* text-align: right; */
    padding: 24px 0;
}
.title{
    color: green;
    font-size : 40px;
}
h1{
    font-size: 40px;
}
.change-mode{
    padding: 5px 10px;
    border: solid 4px #308d46;
    border-radius: 15px;
}
.change-mode:hover{
    background-color: #308d46;
    cursor: pointer;
}