.note{
    /* width: 30%; */
    min-height: 202px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    background-color: #308d46;
    border-radius: 10px;
    word-break: break-all;
}

.note-footer{
    display: flex;
    justify-content: space-between;
}

.edit-icon{
    margin-left: 130px;
}
.delete-icon{

}