/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial;
}
/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới 
3. Tổng quan đến chi tiết
 */
/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...) 
*/
#main{

}

#nav{

}
#nav li{
    display: inline-block;
}
#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: inline-block;
}
#nav li:hover a{
    color: #000;
    background-color: #ccc;
}
#nav .subnav{
    display: none;
}

#header{
    height: 46.5px;
    background-color: #000;
}

#slider{

}

#content{

}

#footer{

}
