/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #ccc; */
}
html{
    font-family: Arial;
    /* height: 5000px; */
}
/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới 
3. Tổng quan đến chi tiết
 */
/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...) 
*/
/* Common */
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear:both;
    /* psudo element, thay cho thẻ <div class="clear"></div> trong html */
    /* khi thấy class cha không bao trùm hết class con */
}
.col{
    float: left;
    padding: 0 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.33333%;
}
.text-center{
    text-align: center !important;
}
.clear{
    clear: both;
}
.mt-8{
    margin-top: 8px !important; 
}
/*  */
#main{

}
#header .search-btn{
    float: right;
    /* Bỏ các thuộc tính kết thừa từ trước đó. VD: nếu là thẻ div ban đâu sẽ chiếm hết width */
    padding: 0.25px 21px;
    
}
#header .search-btn:hover{
    cursor: pointer;
    /* Chỉnh hình ảnh con trỏ chuột hiển thị khi di chuột vào một đối tượng nhất định */
    background-color: #f44336!important;
}
#header .search-icon{
    line-height: 46.5px;
}
/* #header .search-icon */
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
    /* hien an dau gach dau dong trong danh sach list  */
}
#nav > li{
    display: inline-block;
    /* trang thai doc hay ngang cua list li */
}
#nav li{
    position: relative;
}
#nav > li > a{
    color: #fff ;
    text-transform: uppercase;
    /* Viet hoa chu trong selector */
}
#nav li a{
    text-decoration: none;
    /* Bo dau gach chan */
    line-height: 46.5px;
    padding: 0 24px;
    display: block;
}
#nav > li:hover > a, 
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    /* Hieu ung do bong */
    top: 100%;
    left: 0px;
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down{
    font-size: 20px;
    /* them nut icon */
}
#header .search-btn{

}
#header .search-icon{
    color: #fff;
    font-size: 20px;
}
/* #nav .subnav li:hover a{
    color: red;
    background-color: #ccc;
} */
#header{
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1;
    /* Chỉnh header khi nó bị background image đè lên */
}

#slider{
    margin-top: 46.5px;
    padding-top: 50%;
    /* Chỉnh chiều cao bằng 1 nửa chiều ngang */
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
    /* min-height: 500px;
    background-color: #333; */
    position: relative;
}

#slider .text-content{
    color: white;
    position: absolute;
    bottom: 48px;
    /* left: 50%;
    transform: translate(-50%); */
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    /* Chỉnh độ dày chữ */
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}

#content{

}
#content .content-section{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding: 64px 16px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    /* căn cách dòng  */
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin: 25px;
    font-style: italic;
    opacity: 0.6;
    /* Chỉnh độ đậm nhật của chữ */
}

#content .about-text{
    font-size: 15px;
    text-align: justify;
    /* Căn văn bản chuẩn kín chữ 2 bên  */
    line-height: 1.4;
}
#content .member-item{
    float: left;
    /* Bỏ kế thừa và chuyển các đối tượng xếp vào phía trái */
    width: 33.33333%;

}
#content .member-name{
    font-size: 15px;
}
#content .member-list{
    margin-top: 48px;
    /* các thafh viên bên trong dùng float thì class cha sẽ bị văng ra ko bao các class con
    Cách khắc phục: overflow : hidden; */
    /* overflow: hidden; */
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    height: 154px;
    border-radius: 4px;
}
#content .tour-section{ 
    background-color: black;
}
.tickets-list{
    
    background-color: #fff;
}
.tickets-list li{
    list-style-type: none;
    color: #757575;
    font-size: 15px;
    height: 39px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out{
    background-color: red;
    padding: 2px 2px;
    color: white;
    margin-left: 16px;
}
.tickets-list .quantity{
    background-color: black;
    color: white;
    /* padding: 8px; */
    float: right;
    margin-right: 16px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
}
.tour-section .ticket-section{
    /* float: left; */
    color: #fff;
}

.text-white{
    color: #fff !important;
}

/* tickets */
.ticket-section{
    padding: 32px 0px;
    margin-bottom: 32px;
}
.ticket-img{ 
    width: 100%;
    display: block;
}
.ticket-img:hover{ 
    opacity: 0.6;
}
.ticket-section h2{
    font-size: 15px;
}

.ticket-content{
    background-color:   #fff;
    padding: 16px;
    font-size: 15px;
    color: black;
}

.ticket-heading{
 
}

.ticket-date{
    margin-top: 15px;
    opacity: 0.4;

}

.ticket-about{
    margin-top: 15px;
    line-height: 1.4;
}

.buy-tickets-btn{
    text-decoration: none;
    background-color:#000;
    color: white;
    padding: 8px 16px;
    display: inline-block;
    margin-top: 15px;
    
}
.buy-tickets-btn:hover{
    opacity: 0.3;
    cursor: pointer;
}
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 2s;
}

.modal-close{
    position: absolute;
    padding: 16px;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: 100;
    
}
.modal-close:hover{
    background-color: #ccc;
    cursor: pointer;
    color: #000;
}

.modal-header{
    background-color: #009688;
    height: 130px;
    /* căn giữa nội dung bên trong header */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 2px;
  
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    height: 40px;
    width: 100%;
    padding: 8px;
    display: block;
    font-size: 15px;
    border: 1px solid #ccc; 
    margin-bottom: 24px;
}


.modal-label{

}

.modal-input{

}

.modal-footer{

}

.modal.open{
    display: flex;
}

.modal-help{
    margin-bottom: 15px;
    padding: 16px;
    text-align: right;
}
.modal-help a {
    color: #2196F3;
}
#buy-ticket{
    width: 100%;
    background-color: #009688;
    border: none;
    height: 54px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}
#buy-ticket:hover{
    cursor: pointer;
    opacity: 0.6;
    background-color: red;
    color: yellow;
}
#buy-ticket .ti-check{
    font-weight: 1000;
    /* color: #000; */

}

.modal-heading-icon{
    margin-right: 16px;
    font-weight: 300;
}   
/* Tạo animation chuyển động */
@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-200px);
    }
    to{ 
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Contact form */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 12px;
    border: 1px solid #ccc;
    width: 100%;
}
.send-button{
    background-color: #000;
    color: #fff;
    font-size: 15px;
    padding: 8px 16px;
    margin: 16px 0;
    float: right;
    border: 1px solid #ccc;
}
.send-button:hover{
    opacity: 0.6;
    cursor: pointer;;
}

/* footer */
.map-picture img{
    width: 100%;
}

#footer{
    padding: 64px 16px ;
   text-align: center; 
}
.icons{
   font-size: 24px;
   color: #ccc;
}
.icons a{
    text-decoration: none;
    color: #ccc;
 
 }
.text-icon{
    text-align: center;
    color: #ccc;
}
#footer .text-icon {
    margin-top: 15px;
    color: #ccc;
}
#footer .text-icon a{
    color: #ccc;
    font-size: 15px;
}